.practice-container {
    widows: 100%;
    padding: 20px;
    background-color: white;
    border: 2px solid #aeaeae;
}

.practice-container .center-v {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.center-h {
    margin: 0 auto;
}

.practice-menu_page_practice_dashboard .notice.is-dismissible,
.practice-menu_page_practice_cpt .notice.is-dismissible,
.practice-menu_page_practice_taxonomies .notice.is-dismissible,
.practice-menu_page_practice_widgets .notice.is-dismissible {
    display: none;
}

ul.nav-tabs li.active {
    background-color: white;
}

ul.nav-tabs a {
    text-decoration: none;
}