.practice-container {
    widows: 100%;
    padding: 20px;
    background-color: white;
    border: 2px solid #aeaeae;
}

.practice-container .center-v {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.center-h {
    margin: 0 auto;
}

.practice-menu_page_practice_dashboard .notice.is-dismissible,
.practice-menu_page_practice_cpt .notice.is-dismissible,
.practice-menu_page_practice_taxonomies .notice.is-dismissible,
.practice-menu_page_practice_widgets .notice.is-dismissible {
    display: none;
}

ul.nav-tabs {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul.nav-tabs li {
    display: inline-block;
    margin: 0px;
}

ul.nav-tabs li.active a {
    background-color: white;
}

ul.nav-tabs a {
    text-decoration: none;
    color: #0b0b0b;
    padding: 10px;
    display: block;
}

div.tab-content .tab {
    display: none;
}

div.tab-content .active {
    padding: 10px;
    display: block;
    background-color: white;
    box-shadow: 0px 5px 4px -2px #aeaeae;
    border: 2px solid #aeaeae;
}